body {
    background-color: #FAF8F4;
    color: #b8b31d;
    overflow: hidden;
}

h1 {
    font-family: "mogilte", sans-serif;
    font-size: 100px;
    align-self: center;
    margin-top: 30vh;
}

.container1 {
    position: absolute;
    display: flex;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    line-height: 105px;
}

.container2 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 15vh;
    text-align: center;
    z-index: 2;
}

.button-link {
    text-decoration: none;
    padding: 5px;
    font-family: "analogist", sans-serif;
    letter-spacing: 1px;
    background: rgb(235, 229, 226);
    text-align: center;
    margin: 5px;
    color: rgb(195, 177, 166);
    border-radius: 20px;
    height: 50px;
    width: 170px;
    line-height: 50px;
    transition: background-color 0.3s;
    margin-bottom: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(195, 177, 166);
}

.button-link:hover {
    background: rgb(210, 205, 202);
}

.top-bar {
    color: rgb(195, 177, 166);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "analogist", sans-serif;
    width: 98vw;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(195, 177, 166);
    letter-spacing: 1px;
}
  
.center-text {
    text-align: center;
}
  
.right-text {
    text-align: right;
}

@media screen and (max-width: 600px) {
    .container2 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .button-link {
        margin-bottom: 0;
        margin-right: 5px;
    }
}

img {
    position: absolute;
}

