body {
    padding: 200px;
    font-family: 'anologist', sans-serif;
    background-color: #FAF8F4;
    color: #25262A;
}
  
.container1 {
    position: relative;
    width: 20ch;
}
  
#text {
    font-size: 12px;;
    line-height: 1.5;
    cursor: pointer;
    color: black;
    filter: blur(2px);
    transition: filter 0.3s ease;
}
  
#text:hover {
    filter: none;
}
  