body {
  font-family: 'reddit mono', sans-serif;
  color: #3f2e00;
  background-color: #d2e1ef;
  margin: 0;
  margin-bottom: 60px;
}

.container1 {
  text-align: center;
  top: 0;
  background-color: #d2e1ef;
  z-index: 10;
  color: #3f2e00;
  align-items: center;
}

.container1 img {
  width: 40%;
  height: auto;
}

h1 {
  font-size: 40px;
}

h2 {
  align-items: top;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ul img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

li {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

summary {
  cursor: pointer;
}

.list-item {
  position: relative;
  cursor: pointer;

}

.list-item-content {
  left: 48.5%;
  transform: translateX(-50%);
  position: fixed;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: .5fr .75fr .75fr .75fr;
  top: 0;
  text-align: left;
  justify-content: center;
  background-color: #f8f8f8;
  border: 1px solid #3f2e00;
  color: #3f2e00;
  width: 90vw;
  height: 12%;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  border-radius: 40px;
}

.list-item.is-active .list-item-content {
  opacity: 1;
}

@media (max-width: 400px) {
  ul {
    grid-template-columns: 1fr;
  }
}

.filters {
  position: fixed;
  justify-content: center;
  gap: 5px;
  background-color: #f8f8f8;
  bottom: 0;
  max-width: 35%;
  z-index: 9999;
  color: #3f2e00;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  font-size: 12px;
  border: 1px solid #3f2e00;
  border-radius: 20px;
}

.filter-item {
  font-family: 'reddit mono', sans-serif;
  border: none;
  border-radius: 20px;
  transition: background-color .2s, color .2s;
  cursor: pointer;
  background-color: #d2e1ef;
  color: #3f2e00;
}

.filter-item:hover,
.filter-item.is-active {
  background-color: #3f2e00;
  color: #d2e1ef;
}

.is-hidden {
  display: none;
}

.image-container {
  perspective: 1000px;
}

.original-image,
.flipped-image {
  width: 100%;
  height: auto;
  transition: transform .5s;
  cursor: pointer;

}

.original-image {
  transform-style: preserve-3d;
  cursor: pointer;

}

.flipped-image {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.image-container:hover .original-image {
  transform: rotateY(180deg);
  cursor: pointer;

}

.image-container:hover .flipped-image {
  transform: rotateY(0deg);
  cursor: pointer;
}

.hidden {
  display: none;
}

p {
  font-size: 12px;
}